.header {
   
    background-color:black;
    text-align: center;
}

.header:hover{
    background-color:white;
}
th{
    color:white;
    text-align: center;
}
th:hover{
    color:black;
}
td:hover {
    background-color: beige;
    text-align: center;
    font-size: larger;
}
.edit span:hover{
    color:green;
}
.upadte span:hover{
    color:tomato;
}
.delete span:hover{
color:red;
}
td a span{
margin-right:5px;
}
table{
    cursor: pointer;
}

